{% extends "base.html" %}
{% load bootstrap_icons %}
{% load static %}

{% if bag_items %}
  {% block page_header %}
    {% include 'includes/page_header.html' with title="bag" %}
  {% endblock %}
{% endif %}

{% block content %}
  {% if bag_items %}
  <div class="flex flex-col">
    <div class="grid grid-cols-2 p-4">
      {% for item in bag_items %}
      <div class="w-32 p-2">
        {% include 'bag/product_image.html' %}
      </div>
      <div class="py-2">
        <p>{{ item.product.name }}</p>
        <p class="text-sm">Qty: {{ item.quantity }}</p>
        <p class="text-sm">£{{ item.product.price }}</p>
      </div>
      {% endfor %}
    </div>
    <div id="summary"></div>
  </div>
  {% else %}
  <div class="flex justify-center items-center flex-col h-[80vh]">
    {% bs_icon "bag" size="4rem" %}
    <p class="font-bold p-4">The bag is empty</p>
    <a href="{% url 'products' %}" class="uppercase p-4 w-fit flex items-center">
      {% bs_icon "arrow-left-short" size="1.5em" extra_classes="inline" %} back to products 
    </a>
  </div>
  {% endif %}
{% endblock %}