{% extends "base.html" %}
{% load bootstrap_icons %}
{% load static %}

{% if bag_items %}
  {% block page_header %}
    {% include 'includes/page_header.html' with title="bag" %}
  {% endblock %}
{% endif %}

{% block content %}
  {% if bag_items %}
  <div class="flex flex-col md:flex-row md:justify-between lg:px-16">
    <div class="grid grid-cols-2 p-4">
      {% for item in bag_items %}
      <div class="min-w-[8rem] max-w-[16rem] p-2">
        {% include 'bag/product_image.html' %}
      </div>
      <div class="py-2 flex flex-col justify-center">
        {% include 'bag/product_info.html' %}
      </div>
      {% endfor %}
    </div>
    <div class="flex flex-col p-8 border-t border-black md:border-none">
      {% include 'bag/checkout.html' %}
    </div>
  </div>
  {% else %}
    {% include 'bag/empty_bag.html' %}
  {% endif %}
{% endblock %}

{% block postloadjs %}
  <script>
    async function removeItemFromBag() {
      const csrfToken = "{{ csrf_token }}";
      const itemId = document.getElementById("remove-item").dataset.itemId;
      const url = `/bag/remove/${itemId}/`;

      const response = await fetch(url, {
        method: "POST",
        headers: {"X-CSRFToken": csrfToken}
      }).then(() => location.reload());
    }
  </script>
{% endblock %}