<div class="flex p-4 items-center border-b border-black justify-between">
  <p class="">
    <strong>
      {{ total }}
      {% if total > 1 %}
        addresses
      {% else %}
        address
      {% endif %}
    </strong>
    saved
  </p>

  <button type="submit" class="font-bold uppercase hover:underline" form="update-address-book">update</button>
</div>

<form action="{% url 'address_book' %}" method="POST" id="update-address-book">
  {% csrf_token %}
  <div class="p-4">
    <h2 class="mb-2 font-bold text-lg">Default Address:</h2>
    {% include 'profiles/address.html' with address=default_address %}  
  </div>
  
  <div class="p-4">
    <h2 class="mb-2 font-bold text-lg">Other Addresses</h2>
    <div class="flex gap-4">
      {% for address in addresses %}
        {% include 'profiles/address.html' with address=address %}
      {% endfor %}
    </div>
  </div>
</form>

