<p class="p-4 border-b border-black">
  <strong>
    {{ addresses|length }} 
    {% if addresses|length > 1 %} 
      addresses 
    {% else %}
      address 
    {% endif %}
  </strong>
  saved
</p>

<div class="flex flex-col gap-2 p-4">
    <h2 class="font-bold">Default Address</h2>
    <div>Phone Number: {{ default_address.phone_number }}</div>
    <div>Street Address: {{ default_address.street_address1 }}</div>
    {% if default_address.street_address2 %}
        <div>Street Address 2: {{ default_address.street_address2 }}</div>
    {% endif %}
    <div>Town/City: {{ default_address.town_or_city }}</div>
    {% if default_address.county %}
        <div>County: {{ default_address.county }}</div>
    {% endif %}
    {% if default_address.postcode %}
        <div>Postcode: {{ default_address.postcode }}</div>
    {% endif %}
    <div>Country: {{ default_address.country }}</div>
</div>