{% extends "base.html" %}
{% load bootstrap_icons %}
{% load static %}

{% block page_header %}
    <div class="hidden md:block">
        {% include 'includes/page_header.html' with title="my order history" %}
    </div>
{% endblock %}

{% block content %}
<div class="grid md:hidden">
    <div class="border-b border-black">
        <a href="{% url 'profile' %}" class="flex items-center p-2 w-fit">
            {% bs_icon "arrow-bar-left" size="1.5em" extra_classes="inline" %}
            Back to profile
        </a>
    </div>
    {% include 'profiles/orders.html' with orders=orders %}
</div>

<div class="hidden bg-white md:flex grow">
    {% include 'profiles/profile_menu.html' %}
    <div class="flex-col border border-r-0 border-black md:flex grow">
        {% include 'profiles/orders.html' with orders=orders %}
    </div>
</div>
{% endblock %}
