{% load widget_tweaks %}

<div class="flex flex-col">
  <div class="p-4 border-b border-black">
    <h2 class="text-lg font-bold">Personal information</h2>

    <div class="flex gap-4">
      <div>Username:</div>
      <div>{{ user.username }}</div>
    </div>
    <div class="flex gap-4">
      <div>First name:</div>
      {% if user.first_name == "" %}
      <div>-</div>
      {% else %}
      <div class="break-all">{{ user.first_name }}</div>
      {% endif %}
    </div>
    <div class="flex gap-4">
      <div>Last name:</div>
      {% if user.last_name == "" %}
      <div>-</div>
      {% else %}
      <div class="break-all">{{ user.last_name }}</div>
      {% endif %}
    </div>
    <div class="flex gap-4">
      <div>Email:</div>
      <div>{{ user.email }}</div>
    </div>
  </div>
  <div class="p-4">
    <div class="flex items-center justify-between">
      <h2 class="text-lg font-bold">Edit Information</h2>
      <button type="submit" class="p-2 uppercase border border-black w-fit">
        update
      </button>
    </div>
    <form class="mt-3" action="{% url 'details' %}" method="POST">
      {% csrf_token %}
      <div class="flex flex-col gap-4">
        {% for field in form %}
        <div class="flex flex-col md:flex-row md:items-center md:gap-4">
          {% with classes="border-black focus:border-black focus:ring-black" %}
            {{ field.label_tag }} {{ field|add_class:classes }}
          {% endwith %}
        </div>
        {% endfor %}
      </div>
    </form>
  </div>
</div>
