{% extends "base.html" %}
{% load widget_tweaks %}
{% load bootstrap_icons %}
{% load static %}

{% block page_header %}
  {% include "includes/page_header.html" with title="checkout" %}
{% endblock %}

{% block content %}
<div class="flex flex-col md:flex-row md:justify-between lg:px-16">
  <div class="p-4">
    <a href="{% url 'view_bag' %}" class="flex items-center p-2 mb-2 w-fit">
      {% bs_icon "arrow-left-short" size="1.5em" extra_classes="inline" %}
      Back to bag
    </a>
    <form action="{% url 'checkout' %}" method="POST" id="payment-form" data-secret="{{ client_secret }}" data-public-key="{{ stripe_public_key }}">
      {% csrf_token %}
      <fieldset class="flex flex-col gap-2 mb-4">
        <legend class="mb-2 text-xl font-bold">Details</legend>
        {{ order_form.full_name | add_class:"focus:ring-black focus:border-black" }}
        {{ order_form.email | add_class:"focus:ring-black focus:border-black" }}
        {{ order_form.phone_number | add_class:"focus:ring-black focus:border-black" }}
      </fieldset>
      <fieldset class="flex flex-col gap-2 mb-4">
        <legend class="mb-2 text-xl font-bold">Shipping</legend>
          {{ order_form.street_address1 | add_class:"focus:ring-black focus:border-black" }}
          {{ order_form.street_address2 | add_class:"focus:ring-black focus:border-black" }}
          <div class="grid grid-cols-1 gap-2 xs:grid-cols-6">
            {{ order_form.town_or_city | add_class:"focus:ring-black xs:col-span-4 focus:border-black" }}
            {{ order_form.postcode | add_class:"focus:ring-black xs:col-span-2 focus:border-black" }}
            {{ order_form.country | add_class:"focus:ring-black xs:col-span-3 focus:border-black" }}
            {{ order_form.county | add_class:"focus:ring-black xs:col-span-3 focus:border-black" }}
          </div>
          <div class="flex items-center gap-2">
            <label for="id-save-info">Save shipping information</label>
            <input 
              type="checkbox" 
              id="id-save-info" 
              name="save-info"
              class="text-black focus:ring-black"
              checked
            >
          </div>
      </fieldset>
      <fieldset class="mb-4">
        <legend class="mb-2 text-xl font-bold">Payment</legend>
        <div id="payment-element"></div>
        <div id="payment-errors" role="alert"></div>
      </fieldset>
    </form>
  </div>
  <div class="flex flex-col p-8 border-t border-black md:border-none">
    {% include 'checkout/order_summary.html' %}
    <button id="submit-payment-form" class="p-4 font-bold uppercase border border-black">place order</button>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
  <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}