{% extends "base.html" %}
{% load widget_tweaks %}
{% load bootstrap_icons %}
{% load static %}

{% block page_header %}
  {% include "includes/page_header.html" with title="checkout" %}
{% endblock %}

{% block content %}
<div class="flex flex-col md:flex-row md:justify-between lg:px-16">
  <div class="p-4">
    <a href="{% url 'view_bag' %}" class="flex items-center p-2 mb-2 w-fit">
      {% bs_icon "arrow-left-short" size="1.5em" extra_classes="inline" %}
      Back to bag
    </a>
    <form action="{% url 'checkout' %}" method="POST" id="payment-form" data-secret="{{ client_secret }}" data-public-key="{{ stripe_public_key }}">
      {% csrf_token %}
      <fieldset class="flex flex-col gap-2 mb-4">
        <legend class="mb-2 text-xl font-bold">Details</legend>
        {% with classes="border-black focus:border-black focus:ring-black" %}
          {{ order_form.full_name|add_class:classes }}
          {{ order_form.email|add_class:classes }}
          {{ order_form.phone_number|add_class:classes }}
        {% endwith %}
      </fieldset>
      <fieldset class="flex flex-col gap-2 mb-4">
        <legend class="mb-2 text-xl font-bold">Shipping</legend>
          {% with classes="border-black focus:border-black focus:ring-black" %}
            {{ order_form.street_address1|add_class:classes }}
            {{ order_form.street_address2|add_class:classes }}
          {% endwith %}
          <div class="grid grid-cols-1 gap-2 xs:grid-cols-6">
            {% with classes="border-black focus:border-black focus:ring-black" %}
              {{ order_form.town_or_city|add_class:classes|add_class:"xs:col-span-4" }}
              {{ order_form.postcode|add_class:classes|add_class:"xs:col-span-2" }}
              {{ order_form.county|add_class:classes|add_class:"xs:col-span-3" }}
              {{ order_form.country|add_class:classes|add_class:"xs:col-span-3" }}
            {% endwith %}
          </div>
          <div class="flex gap-2 items-center">
            <label for="id-save-info">Save shipping information</label>
            <input 
              type="checkbox" 
              id="id-save-info" 
              name="save-info"
              class="text-black"
              checked
            >
          </div>
      </fieldset>
      <fieldset class="mb-4">
        <legend class="mb-2 text-xl font-bold">Payment</legend>
        <div id="payment-element"></div>
      </fieldset>
      <input type="hidden" value="{{ client_secret }}" name="client_secret">
    </form>
  </div>
  <div class="flex flex-col p-8 border-t border-black md:border-none">
    {% include 'checkout/order_summary.html' %}
    <button id="submit-payment-form" class="mb-4 font-bold uppercase border border-black disabled:cursor-not-allowed" form="payment-form">
      <div class="p-5">place order</div>
    </button>
    <div id="payment-errors" class="p-2 font-bold text-red-500" role="alert"></div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
  <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}