{% load bootstrap_icons %}

<div
  id="bag-preview"
  class="hidden absolute right-0 bottom-0 top-16 z-10 flex-col max-w-md bg-white opacity-0 transition-all duration-300 ease-in-out origin-top scale-y-0 outline-black outline outline-1 xs:right-2 h-fit md:right-4"
>
  <div class="flex justify-between items-center p-2 border-b border-black">
    <div class="pl-4">
    <strong>
    {{ bag_items|length }}
    {% if bag_items|length > 1 %} items {% else %} item {% endif %}
    </strong>
    in your bag
    </div>
    <button id="close-bag-preview">
    {% bs_icon "x" size="1.5em" extra_classes="inline"%}
    </button>
  </div>
  <div class="grid grid-cols-[auto_1fr] items-center p-4 gap-2">
    {% for item in bag_items %}
      <div class="w-28">
        {% include "bag/product_image.html" %}
      </div>
      <div class="flex flex-col justify-center py-2 px-4">
        {% include 'bag/product_info.html' %}
      </div>
    {% endfor %}
  </div>
  <div class="flex justify-end pr-4">
    <button class="text-sm uppercase" id="clear-bag">clear all</button>
  </div>
  <div class="grid grid-cols-2 gap-4 p-4">
    <a href="{% url 'view_bag' %}" class="p-4 text-center uppercase border border-black">
      view bag
    </a>
    <a href="{% url 'checkout' %}" class="p-4 font-bold text-center uppercase border border-black">
      checkout
    </a>
  </div>
</div>
