{% load bootstrap_icons %}

<div class="flex flex-col border-b border-black">
  <div class="flex justify-between h-16  items-center px-2 lg:px-4 md:gap-8">
    <a class="uppercase px-4 py-2 font-bold" href="/">White Library</a>
    <div class="hidden md:block border-[1px] border-black grow max-w-xl">
      <form method="GET" action="{% url 'products' %}" class="flex items-center justify-end">
        <input
          type="text"
          name="q"
          placeholder="Search"
          class="border-none grow focus:ring-black focus:ring-2"
        />
        <button
          type="submit"
          class="p-2 hover:bg-black hover:fill-white transition duration-150 ease-in-out focus:bg-black focus:fill-white"
        >
          {% bs_icon "search" size="1.5em" extra_classes="fill-inherit"%}
        </button>
      </form>
    </div>
    <div class="sm:px-4 py-2 flex gap-2 text-sm">
      {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a class="p-2 uppercase hidden xs:block" href="#">admin</a>
        {% endif %}
      <a class="p-2 hidden md:block uppercase" href="#">
        account
      </a>
      <a class="p-2 uppercase" href="#">saved</a>
      <a href="#" class="p-2 uppercase">cart</a>
      
      {% else %}
      <a
        class="border-black border-[1px] p-2 uppercase bg-black text-white focus-visible:bg-white focus-visible:text-black"
        href="#"
        >sign up</a
      >
      <a class="border-black border-[1px] p-2 uppercase hidden xs:block" href="{% url 'account_login' %}">
        log in
      </a>
      {% endif %}
      <button class="p-2 border-black border-[1px] md:hidden" onclick="openSidebar()">
        {% bs_icon "list" size="1.5em" %}
      </button>
    </div>
  </div>

  {% include 'includes/product_navbar.html' %}
</div>
