{% load bootstrap_icons %}

<div class="flex flex-col">
  <div class="flex justify-between items-center px-2 h-16 lg:px-4 md:gap-6">
    <a class="py-2 px-4 font-bold uppercase" href="/">White Library</a>
    <div class="hidden md:block border-[1px] border-black grow max-w-xl">
      <form method="GET" action="{% url 'products' %}" class="flex justify-end items-center">
        <input
          type="text"
          name="q"
          placeholder="Search"
          class="border-none grow focus:ring-0"
        />
        <button
          type="submit"
          class="p-2"
        >
          {% bs_icon "search" size="1.5em" extra_classes="fill-inherit"%}
        </button>
      </form>
    </div>
    <div class="flex gap-2 py-2 text-sm md:px-4">
      {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
          <a class="hidden p-2 uppercase xs:block" href="#">admin</a>
        {% endif %}
        <a class="hidden p-2 uppercase md:block" href="#">account</a>
        <a class="p-2 uppercase" href="#">saved</a>
        {% if bag_items %}
          <button 
            href="{% url 'view_bag' %}"
            class="p-2 uppercase {% if bag_items %}font-bold{% endif %}"
            id="bag"
          >
            bag ({{ bag_items|length }})
          </button>
          {% include "includes/bag_preview.html" %}
        {% else %}
          <a href="{% url 'view_bag' %}" class="p-2 uppercase">bag</a>
        {% endif %}
      {% else %}
      <a
        href="#"
        class="border-black border-[1px] p-2 uppercase bg-black text-white focus-visible:bg-white focus-visible:text-black"
        >sign up</a
      >
      <a 
        href="{% url 'account_login' %}?next={{ request.path }}"
        class="border-black border-[1px] p-2 uppercase hidden xs:block"
      >
        log in
      </a>
      {% endif %}
      <button class="p-2 border-black border-[1px] md:hidden" id="hamburger">
        {% bs_icon "list" size="1.5em" %}
      </button>
    </div>
  </div>
</div>
