{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account socialaccount %}

{% block extra_title %}| {% trans "Sign In" %} {% endblock %}

{% block page_header %}
  {% include 'includes/page_header.html' with title="log in" %}
{% endblock %}

{% block inner_content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}Don't have an account yet?
<a href="{{ signup_url }}" class="font-bold underline">Sign up here.</a>{% endblocktrans %}</p>
{% endif %}

<form method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <div class="grid gap-2 mb-4">
    {% with classes="border-black focus:border-black focus:ring-black" %}
      {{ form.login|add_class:classes }}
      {{ form.password|add_class:classes }}
    {% endwith %}
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="grid justify-center gap-2">
    <button class="p-2 uppercase border border-black" type="submit">{% trans "Log in" %}</button>
    <a class="underline" href="{% url 'account_reset_password' %}">{% trans "Forgot your password?" %}</a>
  </div>
</form>

{% endblock %}
