{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account %}

{% block extra_title %}| {% trans "Reset Password" %} {% endblock %}

{% block page_header %}
  {% include 'includes/page_header.html' with title="reset password" %}
{% endblock %}

{% block inner_content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Enter your e-mail address below, and we'll send you an password reset email." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div class="grid gap-2 mb-4 w-fit">
            {{ form.email|add_class:"border-black focus:border-black focus:ring-black" }}
        </div>
        <input type="submit" value="{% trans 'Reset Password' %}" class="p-2 uppercase border border-black" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
