{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block extra_title %}| {% trans "Sign Up" %} {% endblock %}

{% block page_header %}
  {% include 'includes/page_header.html' with title="sign up" %}
{% endblock %}

{% block inner_content %}
<p>{% blocktrans %}Already have an account? <a href="{{ login_url }}" class="font-bold underline">Log in here.</a>{% endblocktrans %}</p>

<form id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="grid gap-2 mb-4">
    {% for field in form %}
      {% with classes="border-black focus:border-black focus:ring-black" %}
        <div class="flex flex-col">
          {{ field.label_tag }}
          {{ field|add_class:classes }}
        </div>
      {% endwith %}

      {% if form.errors %}
        {% for error in field.errors %}
          <div class="text-red-500">
            <strong class="break-all">{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>

  {% for error in form.non_field_errors %}
    <div class="text-red-500">
      <strong class="break-all">{{ error|escape }}</strong>
    </div>
  {% endfor %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="grid justify-center">
    <button class="p-2 uppercase border border-black" type="submit">
      {% trans "Sign Up" %}
    </button>
  </div>
</form>

{% endblock %}
