{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block extra_title %}| {% trans "Sign Up" %} {% endblock %}

{% block page_header %}
  {% include 'includes/page_header.html' with title="sign up" %}
{% endblock %}

{% block inner_content %}
<p>{% blocktrans %}Already have an account? <a href="{{ login_url }}" class="font-bold underline">Log in here.</a>{% endblocktrans %}</p>

<form id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <div class="grid gap-2 mb-4">
    {% with classes="border-black focus:border-black focus:ring-black" %}
      {{ form.email|add_class:classes }}
      {{ form.email2|add_class:classes }}
      {{ form.username|add_class:classes }}
      {{ form.password1|add_class:classes }}
      {{ form.password2|add_class:classes }}
    {% endwith %}
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="grid justify-center">
    <button class="p-2 uppercase border border-black" type="submit">
      {% trans "Sign Up" %}
    </button>
  </div>
</form>

{% endblock %}
