{% load tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>White Library {% block extra_title %} {% endblock %}</title>

    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" >
    <link rel="icon" type="image/svg" href="{% static 'favicon.svg' %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    {% tailwind_preload_css %}
    {% tailwind_css %}
  </head>
  <body class="flex flex-col min-h-screen">
    <nav class="border-b border-black">
      {% include "includes/primary_navbar.html" %}
      {% include 'includes/secondary_navbar.html' %}
      {% include 'includes/sidebar.html' %}
    </nav>

    {% block page_header %}{% endblock %}

    <main class="grow">
      {% block content %}
      {% endblock %}
    </main>
    
    <footer>
      {% include 'includes/footer.html' %}
    </footer>
    
    {% block postloadjs %}
    <script src="{% static 'lib/js-snackbar.min.js' %}"></script>
    <script>
      {% if messages %}
        {% for message in messages %}
          SnackBar({
            message: "{{ message }}",
            position: "tr",
            timeout: 5000,
            status: "{{ message.tags }}",
          })
        {% endfor %}
      {% endif %}

      const openSidebar = () => {
        if (window.innerWidth < 475) {
          document.querySelector("#sidebar").style.width = "100%";
        } else {
          document.querySelector("#sidebar").style.width = "400px";
        }
      }

      const closeSidebar = () => {
        document.querySelector("#sidebar").style.width = "0%";
      }

      const toggleBag = () => {
        bag = document.querySelector("#show-bag").classList
        message = document.querySelector(".js-snackbar__close")

        if (message) {
          message.click() // closes message
        }

        if (bag.contains("hidden")) {
          openBag()
        } else {
          closeBag()
        }
      }

      const openBag = () => {
        bag = document.querySelector("#show-bag").classList

        bag.replace("hidden", "flex")
          window.setTimeout(function() {
            bag.replace("scale-y-0", "scale-y-100")
            bag.replace("opacity-0", "opacity-100")
          }, 0)
      }

      const closeBag = () => {
        bag = document.querySelector("#show-bag").classList

        bag.replace("opacity-100", "opacity-0")
          bag.replace("scale-y-100", "scale-y-0")
          window.setTimeout(function() {
            bag.replace("flex", "hidden")
          }, 100)
      }

      const removeItemFromBag = async () => {
        const csrfToken = "{{ csrf_token }}";
        const itemId = document.querySelector("#remove-item").dataset.itemId;
        const url = `/bag/remove/${itemId}/`;

        const response = await fetch(url, {
          method: "POST",
          headers: {"X-CSRFToken": csrfToken}
        }).then(() => location.reload());
      }
    </script>
    {% endblock %}
  </body>
</html>
