<div class="bg-white p-2 flex flex-col sm:flex-row h-full sm:items-center sm:justify-between">
  <div class="font-bold text-xs uppercase pl-3 sm:text-base">category</div>
  <select id="category_selector" class="border-none focus:ring-0 cursor-pointer w-full xs:w-fit" onchange="selectCategory()">
    <option value="reset" {% if request.get_full_path == "/products/" %}selected{% endif %}>All Products</option>
    {% for category in all_categories %}
    <option value="{{ category.name }}" {% if category.name in request.get_full_path %}selected{% endif %}>{{ category.friendly_name }}</option>
    {% endfor %}
  </select>
</div>