{% extends "base.html" %}
{% load static %}

{% block page_header %}
  {% include "includes/page_header.html" with title=product.name %}
{% endblock %}

{% block content %}
  <div class="flex flex-col items-center">
    <div class="flex items-center justify-center max-w-lg p-8">
      {% if product.image %}
      <img src="{{ product.image.url }}" alt="{{ product.name }}">
      {% elif product.image_url %}
      <img src="{{ product.image_url }}" alt="{{ product.name }}">
      {% else %}
      <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
      {% endif %}
    </div>

    <div class="max-w-lg">
      {% if product.quantity == 0 %}
        <div class="flex justify-center gap-2">
          <div class="font-bold uppercase">no longer available</div>
        </div>
      {% else %}
        {% if user.is_authenticated %}
          <div class="flex justify-center gap-2">
          <form action="{% url 'save_product' product.id %}" method="POST">
            {% csrf_token %}
            <input 
              type="submit" 
              value="save"
              data-item-id="{{ product.id }}" 
              class="w-full p-4 font-bold uppercase border border-black cursor-pointer disabled:cursor-default" 
            >
            <input type="hidden" name="redirect_url" value="{{ request.path }}" class="hidden">
          </form>
          <form action="{% url 'add_to_bag' product.id %}" method="POST">
            {% csrf_token %}
            <input 
              type="submit" 
              value="add to bag"
              data-item-id="{{ product.id }}" 
              class="w-full p-4 font-bold uppercase border border-black cursor-pointer disabled:cursor-default" 
            >
            <input type="hidden" name="redirect_url" value="{{ request.path }}" class="hidden">
          </form>
          </div>
        {% else %}
        <a href="{% url 'account_login' %}?next={{ request.path }}" class="block p-4 font-bold text-center uppercase outline-black outline outline-1">
          sign in to purchase
        </a>
        {% endif %}
      {% endif %}
      <div class="px-8 py-8 sm:px-0">
        <div class="mb-2 text-xl font-bold">{{ product.release_date }}</div>
        <div class="mb-2 text-xl font-bold">{{ product.author }}</div>
        <h2 class="mb-2 font-bold underline">Description</h2>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>
{% endblock %}
