{% extends "base.html" %}
{% load static %}

{% block page_header %}
  {% include "includes/page_header.html" with title=product.name %}
{% endblock %}

{% block content %}
  <div class="flex flex-col items-center">
      <div class="flex justify-center items-center max-w-lg p-8">
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
        {% endif %}
    </div>

    <div class="border-t border-black max-w-lg">
      <div class="p-8">
        <div class="font-bold text-xl mb-2">{{ product.author }}</div>
        <div class="font-bold text-xl mb-2">{{ product.release_date }}</div>
        <h2 class="font-bold underline mb-2">Description</h2>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>
{% endblock %}
