<div class="p-4 outline-black min-w-80 outline outline-1">
  <div>{{ product.name }}</div>
  <div class="flex justify-center items-center py-4">
    {% if product.image %}
    <a href="{% url 'product_detail' product.id %}">
      <img src="{{ product.image.url }}" alt="{{ product.name }}">
    </a>
    {% else %}
    <a href="{% url 'product_detail' product.id %}">
      <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="w-32">
    </a>
    {% endif %}
  </div>
  <div>£{{ product.price|floatformat }}</div>
</div>