{% extends "base.html" %}
{% load bootstrap_icons %}
{% load static %}

{% block page_header %}
<div class="grid grid-cols-1 xs:grid-cols-2 h-full bg-black gap-[1px] items-center border-b border-black">
  {% include "products/category_selector.html" with all_categories=all_categories %}
  {% include "products/sort_selector.html" %}
</div>
{% endblock %}

{% block content %}
  <div class="grid w-full grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-[1px]">
    {% for product in products %}
      {% include "products/product.html" with product=product %}
    {% endfor %}
  </div>

  <div class="fixed bottom-4 right-4 bg-emerald-600 hidden" id="scrollToTop">
    <button class="border border-black p-2 uppercase font-bold" onclick="scrollToTop()">
      {% bs_icon "arrow-up" size="1.5em" %}
    </button>
  </div>
{% endblock %}

{% block postloadjs %}
<script>
  // show button if user scrolls down 20px from the top
  window.onscroll = function () {
    scrollHandler();
  };

  function scrollHandler() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("scrollToTop").style.display = "block";
    } else {
      document.getElementById("scrollToTop").style.display = "none";
    }
  }

  function scrollToTop() {
    document.body.scrollTop = 0; // Safari
    document.documentElement.scrollTop = 0;
  }

  function selectCategory() {
    const select = document.getElementById("category_selector");
    const currentUrl = new URL(window.location);

    const category = select.value;

    if (category != "reset") {
      currentUrl.searchParams.set("category", category);
      window.location.replace(currentUrl);
    } else {
      currentUrl.searchParams.delete("category");
      window.location.replace(currentUrl);
    }
  }

  function sortProducts() {
    const select = document.getElementById("sort_selector");
    const currentUrl = new URL(window.location);

    const val = select.value;

    if (val != "reset") {
      const sort = val.split("_")[0];
      const direction = val.split("_")[1];

      currentUrl.searchParams.set("sort", sort);
      currentUrl.searchParams.set("direction", direction);
      window.location.replace(currentUrl);
    } else {
      currentUrl.searchParams.delete("sort");
      currentUrl.searchParams.delete("direction");
      window.location.replace(currentUrl);
    }
  }
</script>
{% endblock %}