{% extends "base.html" %}
{% load static %}

{% block page_header %}
  {% include "includes/page_header.html" with title=product.name %}
{% endblock %}

{% block content %}
  <div class="flex flex-col items-center">
    <div class="flex justify-center items-center p-8 max-w-lg">
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
        {% endif %}
    </div>

    <div class="max-w-lg">
      <form action="{% url 'add_to_bag' product.id %}" method="POST" class="outline-black outline outline-1">
        {% csrf_token %}
        <input type="submit" value="add to bag" data-item-id="{{ product.id }}" class="p-4 w-full font-bold uppercase cursor-pointer">
        <input type="hidden" name="redirect_url" value="{{ request.path }}" class="hidden">
      </form>
      <div class="px-8 py-8 sm:px-0">
        <div class="mb-2 text-xl font-bold">{{ product.release_date }}</div>
        <div class="mb-2 text-xl font-bold">{{ product.author }}</div>
        <h2 class="mb-2 font-bold underline">Description</h2>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </div>
{% endblock %}
